In [1]:
import pandas as pd

In [4]:
player_df_final = pd.read_csv('player_data_final.csv')

In [5]:
ts_ds = player_df_final.iloc[26:,:]
ts_ds

,ID,player,points,possessions,team_pace,GP,MPG,TS%,AST,TO,USG,ORR,DRR,REBR,PER
26,31,tune_squad1,2049.0,1434.0,110.0,64.000000,38.800000,0.619,31.5,14.9,35.5,8.3,17.6,12.8,28.440000
27,32,tune_squad2,1795.0,1481.8,112.1,62.000000,35.400000,0.608,31.9,14.5,32.0,6.5,22.5,12.9,23.340000
28,33,tune_squad3,1805.0,1509.9,108.6,64.000000,35.400000,0.622,27.9,13.9,36.0,5.9,27.7,12.2,22.410000
29,34,tune_squad4,1743.0,1422.4,112.9,64.000000,36.300000,0.619,30.9,15.6,34.5,5.9,18.9,14.8,29.853138
30,35,tune_squad5,1963.0,1539.1,117.4,59.771429,35.208333,0.633,32.3,16.2,34.0,5.9,19.8,13.1,27.160000
31,36,tune_squad6,2062.0,1505.7,111.5,59.771429,37.000000,0.620,29.8,15.6,36.2,4.9,23.9,14.7,27.860000
32,37,tune_squad7,1845.0,1435.7,113.1,69.000000,36.900000,0.634,33.2,14.0,36.5,4.1,21.5,16.4,34.260000
33,38,tune_squad8,1778.0,1526.4,109.3,66.000000,34.900000,0.612,30.6,15.9,35.9,5.5,18.8,13.7,28.650000
34,39,tune_squad9,1901.0,1444.1,109.7,67.000000,36.500000,0.609,27.2,14.8,35.5,5.0,21.8,8.9,20.120000
35,41,tune_squad11,2030.0,1431.0,112.3,68.000000,37.000000,0.618,32.5,15.3,34.5,5.7,15.7,13.2,30.070000
36,42,tune_squad12,1631.0,1465.7,110.1,66.000000,37.500000,0.613,28.4,14.4,35.7,6.5,20.7,14.0,28.400000
37,43,tune_squad13,1828.0,1507.2,112.7,64.000000,36.500000,0.618,31.3,14.0,34.9,5.9,21.3,14.5,29.094310
38,44,tune_squad14,1821.0,1443.7,118.8,66.000000,36.600000,0.609,27.3,13.5,35.8,7.0,23.8,11.5,22.960000
39,45,tune_squad15,1740.0,1443.9,114.1,68.000000,37.100000,0.611,26.6,15.2,29.3,8.3,17.7,11.1,21.220000
40,46,tune_squad16,1993.0,1459.0,112.5,59.771429,36.900000,0.627,30.4,15.0,33.7,6.3,19.3,14.1,28.760000

In [6]:
ts_name_df = pd.read_csv('tune_squad.csv',sep='\t')
ts_name_df

    ID              player
0   31           Sylvester
1   32  Marvin the Martian
2   33         Road Runner
3   34     Foghorn Leghorn
4   35          Bugs Bunny
5   36          Elmer Fudd
6   37          Lola Bunny
7   38           Porky Pig
8   39     Tasmanian Devil
9   40        Yosemite Sam
10  41            Gossamer
11  42              Granny
12  43      Wile E. Coyote
13  44              Tweety
14  45            Penelope
15  46          Daffy Duck

In [9]:
ts_ds = pd.merge(ts_ds, ts_name_df, on='ID', how='left', suffixes=('_type', '_name'))
ts_ds.head()

,ID,player_type,points,possessions,team_pace,GP,MPG,TS%,AST,TO,USG,ORR,DRR,REBR,PER,player_name
0,31,tune_squad1,2049.0,1434.0,110.0,64.000000,38.800000,0.619,31.5,14.9,35.5,8.3,17.6,12.8,28.440000,Sylvester
1,32,tune_squad2,1795.0,1481.8,112.1,62.000000,35.400000,0.608,31.9,14.5,32.0,6.5,22.5,12.9,23.340000,Marvin the Martian
2,33,tune_squad3,1805.0,1509.9,108.6,64.000000,35.400000,0.622,27.9,13.9,36.0,5.9,27.7,12.2,22.410000,Road Runner
3,34,tune_squad4,1743.0,1422.4,112.9,64.000000,36.300000,0.619,30.9,15.6,34.5,5.9,18.9,14.8,29.853138,Foghorn Leghorn
4,35,tune_squad5,1963.0,1539.1,117.4,59.771429,35.208333,0.633,32.3,16.2,34.0,5.9,19.8,13.1,27.160000,Bugs Bunny

In [10]:
column_list = list(ts_ds)
player_name = column_list.pop()
column_list[1] = player_name
ts_ds = ts_ds[column_list]
ts_ds.head()

,ID,player_name,points,possessions,team_pace,GP,MPG,TS%,AST,TO,USG,ORR,DRR,REBR,PER
0,31,Sylvester,2049.0,1434.0,110.0,64.000000,38.800000,0.619,31.5,14.9,35.5,8.3,17.6,12.8,28.440000
1,32,Marvin the Martian,1795.0,1481.8,112.1,62.000000,35.400000,0.608,31.9,14.5,32.0,6.5,22.5,12.9,23.340000
2,33,Road Runner,1805.0,1509.9,108.6,64.000000,35.400000,0.622,27.9,13.9,36.0,5.9,27.7,12.2,22.410000
3,34,Foghorn Leghorn,1743.0,1422.4,112.9,64.000000,36.300000,0.619,30.9,15.6,34.5,5.9,18.9,14.8,29.853138
4,35,Bugs Bunny,1963.0,1539.1,117.4,59.771429,35.208333,0.633,32.3,16.2,34.0,5.9,19.8,13.1,27.160000

In [11]:
# Create a list of only the column names we are interested in.
game_stat_cols = list(ts_ds.iloc[:, 7:-1])
game_stat_stdevs = []

# Create a list of standard deviations for each stat.
for stat in game_stat_cols:
    game_stat_stdevs.append(ts_ds[stat].std())

# Create a Series of the standard deviations, with the stat names as the index.
stdev_s = pd.Series(game_stat_stdevs, index=game_stat_cols)
stdev_s

TS%     0.008262
AST     2.140494
TO      0.797197
USG     1.892718
ORR     1.139465
DRR     3.017962
REBR    1.802564
dtype: float64

In [14]:
# Import the models and libraries we need.
from sklearn.linear_model import LinearRegression
from numpy.random import randn

# Get the dependent and independent variables for modeling the PER.
X = player_df_final.iloc[:, 7:-1].to_numpy()
y = player_df_final.iloc[:, -1]

In [15]:
# Define and fit the model.
lin_reg = LinearRegression()
lin_reg.fit(X, y)

LinearRegression()

In [19]:
# Print the player with the highest and lower PER for each iteration.
print('Iteration # \thigh PER \tlow PER')

# Run the simulation 10 times.
for i in range(10):

    # Define an empty temporary DataFrame for each iteration.
    # The columns of this DataFrame are the player stats and the index is the players' names.
    game_df = pd.DataFrame(columns=game_stat_cols, index=list(ts_ds['player_name']))
    
    # Loop through each stat.
    for stat in game_stat_cols:
        
        # Each player's stats are used to generate a random value for each iteration.
        game_df[stat] = list(ts_ds[stat] + randn(len(ts_ds)) * stdev_s[stat])
    
    # Use the fitted model to predict players' PERs based on the randomized data.
    game_df['PER'] = lin_reg.predict(game_df)

    # Print the player with the highest and lower PER for each iteration.
    print('Iteration {}'.format(i+1) + ' \t' + game_df['PER'].idxmax() + ' \t' + game_df['PER'].idxmin())

Iteration # 	high PER 	low PER
Iteration 1 	Gossamer 	Tasmanian Devil
Iteration 2 	Foghorn Leghorn 	Marvin the Martian
Iteration 3 	Porky Pig 	Penelope
Iteration 4 	Lola Bunny 	Tweety
Iteration 5 	Foghorn Leghorn 	Wile E. Coyote
Iteration 6 	Gossamer 	Marvin the Martian
Iteration 7 	Gossamer 	Tasmanian Devil
Iteration 8 	Lola Bunny 	Daffy Duck
Iteration 9 	Lola Bunny 	Tasmanian Devil
Iteration 10 	Porky Pig 	Penelope

In [20]:
# Initialize four empty DataFrames, one for each 12-minute period.
number_of_iterations = 4
df_list = [pd.DataFrame(columns=game_stat_cols, index=list(ts_ds['player_name'])) for i in range(number_of_iterations)]

# For each period, generate randomized player data and predict the PER.
# Use the model fitted earlier.
for df in df_list:
    for stat in game_stat_cols:
        df[stat] = list(ts_ds[stat] + randn(len(ts_ds)) * stdev_s[stat])
    df['PER'] = lin_reg.predict(df)

# Concatenate the DataFrames and make the players' names the index.
game_df = pd.concat(df_list)
game_df.rename_axis('player_name', inplace=True)

# Create another index for the period in question.
minutes = [(x // len(ts_ds)) * 12 for x in range(len(game_df))]
game_df['minutes'] = minutes
game_df.set_index('minutes', append=True, inplace=True)
game_df = game_df.swaplevel()

game_df

                                 TS%        AST         TO        USG  \
minutes player_name
0       Sylvester           0.614667  34.013745  14.647494  37.145255
        Marvin the Martian  0.608937  30.111935  14.183951  33.713397
        Road Runner         0.618126  25.464932  13.347257  34.730188
        Foghorn Leghorn     0.607083  25.593202  15.242576  35.860386
        Bugs Bunny          0.627114  32.967743  16.465900  32.990514
        Elmer Fudd          0.615121  30.359213  15.795686  37.239903
        Lola Bunny          0.638534  34.047738  14.415961  36.746196
        Porky Pig           0.617233  29.413882  15.733228  34.778606
        Tasmanian Devil     0.618582  28.126935  15.393109  35.603527
        Gossamer            0.632680  33.816348  15.942347  31.900333
        Granny              0.628706  26.248291  15.098072  37.674004
        Wile E. Coyote      0.616561  31.944890  13.780081  31.963319
        Tweety              0.608426  30.681099  14.016162  37.377414
        Penelope            0.611594  26.951802  14.969067  29.295767
        Daffy Duck          0.619117  31.256215  14.983573  35.184721
12      Sylvester           0.616921  32.506173  14.394237  33.929620
        Marvin the Martian  0.608286  35.113543  15.177242  31.763912
        Road Runner         0.616438  30.116634  13.426287  35.868011
        Foghorn Leghorn     0.621239  34.219500  17.215965  34.116404
        Bugs Bunny          0.627308  31.974625  15.786589  31.031815
        Elmer Fudd          0.615590  29.926615  15.529334  34.731066
        Lola Bunny          0.630006  32.337376  14.044041  38.361895
        Porky Pig           0.625459  35.605655  15.803928  37.936052
        Tasmanian Devil     0.620171  27.740596  14.008425  32.835602
        Gossamer            0.616613  29.808961  15.019510  36.914677
        Granny              0.614282  24.426207  16.931074  33.709907
        Wile E. Coyote      0.610029  27.776830  14.871565  33.690777
        Tweety              0.623467  27.424198  12.704424  35.949125
        Penelope            0.596406  23.761302  15.866844  30.443477
        Daffy Duck          0.611662  35.385934  14.840037  32.986584
24      Sylvester           0.624356  30.159091  14.821351  38.746883
        Marvin the Martian  0.618573  32.094127  14.679975  31.026946
        Road Runner         0.633047  29.520586  13.760796  33.342606
        Foghorn Leghorn     0.617395  32.036366  14.866802  37.223825
        Bugs Bunny          0.627845  34.122943  14.994379  32.195820
        Elmer Fudd          0.615766  27.765832  14.642831  34.660409
        Lola Bunny          0.637466  29.832727  15.716571  34.166598
        Porky Pig           0.595595  31.124969  14.482731  33.741422
        Tasmanian Devil     0.613218  26.840580  14.073545  37.264438
        Gossamer            0.621674  34.389469  16.049611  35.584218
        Granny              0.625862  25.864492  14.691317  34.490525
        Wile E. Coyote      0.624036  27.207557  13.570077  37.190182
        Tweety              0.607694  27.450094  12.350744  39.512016
        Penelope            0.613178  26.913538  14.053947  31.148268
        Daffy Duck          0.628248  28.956564  15.244341  33.917377
36      Sylvester           0.617260  34.401920  15.140567  36.904334
        Marvin the Martian  0.609166  32.336227  13.862767  30.682354
        Road Runner         0.627826  27.397963  13.492142  36.556197
        Foghorn Leghorn     0.614912  30.782816  15.878454  35.500443
        Bugs Bunny          0.610781  32.351905  14.848439  32.212458
        Elmer Fudd          0.608153  29.842976  16.167218  35.290089
        Lola Bunny          0.635654  33.547858  13.150205  36.669358
        Porky Pig           0.599812  29.110660  15.921443  39.126839
        Tasmanian Devil     0.604409  27.635730  13.612671  31.698874
        Gossamer            0.620466  31.252008  15.548794  35.501865
        Granny              0.617780  28.122471  14.684284  34.113197
        Wile E. Coyote      0.632471  29.507201  14.010215  32.807037
        Tweety              0.602517  28.901738  13.250853  35.547715
        Penelope            0.599279  25.668632  15.084460  33.082759
        Daffy Duck          0.615716  29.686472  15.259576  29.721077

                                 ORR        DRR       REBR        PER
minutes player_name
0       Sylvester           8.283108  23.321558  12.430229  25.404221
        Marvin the Martian  6.928051  17.860791  12.002319  26.025085
        Road Runner         7.305018  21.229107  13.245840  26.710741
        Foghorn Leghorn     4.931598  16.784489  12.913175  28.604658
        Bugs Bunny          4.597122  14.974182  14.626444  31.654908
        Elmer Fudd          4.304861  20.656943  14.310897  29.748621
        Lola Bunny          4.180761  22.147213  16.510354  34.077524
        Porky Pig           5.698887  16.043139  12.862661  28.834098
        Tasmanian Devil     4.536713  19.458621   9.734131  23.301023
        Gossamer            5.753386  11.788298  13.792745  32.219482
        Granny              6.928156  24.240599  12.167379  24.912135
        Wile E. Coyote      6.679386  21.647629  14.971064  27.653426
        Tweety              7.005308  24.796625  10.140395  21.439711
        Penelope            7.133217  18.748573  12.675372  23.115635
        Daffy Duck          6.094504  30.481577  15.243606  24.044557
12      Sylvester           7.682679  13.934773  14.344820  32.221968
        Marvin the Martian  6.292489  25.147510  14.600436  24.011990
        Road Runner         4.373440  27.396466  13.150275  24.492679
        Foghorn Leghorn     6.499253  20.262973  17.078370  31.350556
        Bugs Bunny          4.581933  22.771153  13.506299  24.391973
        Elmer Fudd          4.863447  22.864456  12.045542  23.725948
        Lola Bunny          4.331783  16.841114  16.278124  37.524819
        Porky Pig           5.863382  22.339962  15.581493  31.595700
        Tasmanian Devil     3.767198  21.099781   9.225183  20.935741
        Gossamer            4.727817  17.864036  13.500784  30.515731
        Granny              7.401412  15.819833  11.289275  24.396099
        Wile E. Coyote      7.502795  19.122763  15.648829  29.597320
        Tweety              5.184001  28.880747  11.278345  21.356923
        Penelope            8.961021  16.037439  11.788647  22.114675
        Daffy Duck          5.535497  21.023430  15.027742  28.488832
24      Sylvester           7.642691  22.451190  14.019674  29.345835
        Marvin the Martian  5.499514  21.160855  11.897965  23.053380
        Road Runner         7.384628  27.749690  11.380414  20.249751
        Foghorn Leghorn     4.452568  15.871959  14.746099  34.081128
        Bugs Bunny          4.084502  15.360965  10.902459  26.872397
        Elmer Fudd          4.687377  25.718386  16.134627  27.926526
        Lola Bunny          4.839065  18.576341  15.517048  32.001497
        Porky Pig           6.520593  19.403661  15.098909  28.660395
        Tasmanian Devil     5.240872  19.378066  11.131734  26.410875
        Gossamer            4.597731   9.784009  16.351950  38.880098
        Granny              6.674332  21.332127  15.588129  29.645427
        Wile E. Coyote      8.079963  22.308908  13.815201  28.495237
        Tweety              6.711323  19.887700  10.205461  26.490005
        Penelope            7.952882  14.924186  11.853631  25.843251
        Daffy Duck          6.315589  17.937021  13.444315  28.651908
36      Sylvester           9.014761  23.038482  15.057178  28.809615
        Marvin the Martian  7.058946  23.423840  13.152047  22.736983
        Road Runner         6.258163  26.355729  11.264560  22.803450
        Foghorn Leghorn     5.965294  18.908133  11.960531  26.094368
        Bugs Bunny          7.279215  19.702853  16.317508  29.842445
        Elmer Fudd          2.838064  23.140353  13.788490  26.031215
        Lola Bunny          3.983552  20.110698  16.454580  35.755853
        Porky Pig           5.964869  22.755042  13.665009  27.201331
        Tasmanian Devil     7.041751  22.448240   7.402258  15.379120
        Gossamer            3.921959  10.779538  13.510357  34.340521
        Granny              4.585701  20.292809  14.500796  28.843918
        Wile E. Coyote      5.563473  24.846579  13.838841  25.424195
        Tweety              6.760709  28.073409  13.030263  22.300786
        Penelope            7.989711  17.390489  12.570710  24.973227
        Daffy Duck          6.356571  19.536531  14.292805  25.664584

In [21]:
# Export the finished DataFrame to CSV.
game_df.to_csv('game_stats.csv')